html, body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

#renderCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 0;
}

#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  color: white;
  font-size: 18px;
}
#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: white;
  z-index: 20;
  pointer-events: none;
}
