<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Single Shooter</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.babylonjs.com/babylon.js"></script>
  <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
  <script src="{{ url_for('static', filename='ammo/ammo.js') }}"></script>
  <script src="{{ url_for('static', filename='ammo/ammo.wasm.js') }}"></script>
  <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
  <script>
      // 讓 ammo.wasm 能被正確找到
      var AmmoModule = {
          locateFile: function (path) {
              return "/static/ammo/" + path;
          }
      };
  </script>
</head>
<body>
  <div id="ui">
    <div id="login_panel">
      <input id="username" placeholder="username">
      <input id="password" type="password" placeholder="password">
      <button id="btn_register">Register</button>
      <button id="btn_login">Login</button>
    </div>
    <div id="hud" style="display:none;">
      <div>HP: <span id="hp">100</span></div>
      <div>Kills: <span id="kills">0</span></div>
      <div>Time: <span id="time">120</span>s</div>
    </div>
  </div>

  <canvas id="renderCanvas"></canvas>

  <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>
